// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $color-grey-darkest;
  padding: 10rem 0;
  color: $color-grey-light-1;
  font-size: calc(#{$default-font-size} - 0.2rem);

  @include respond(tab-portrait) {
    padding: 8rem 0;
  }

  @include respond(tab-portrait) {
    padding: 6rem 0;
  }

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
    // height: 12rem;

    @include respond(tab-portrait) {
      width: 12rem;
    }

    @include respond(phone) {
      width: 12rem;
    }
  }

  &__navigation {
    width: 38.1%;
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid $color-grey-dark-2;

    @include respond(tab-portrait) {
      width: 100%;
      padding-top: 1.6rem;
    }

    @include respond(phone) {
      width: 100%;
      padding-top: 1.4rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;

    @include respond(tab-portrait) {
      justify-content: center;
      gap: 1.4rem;
    }

    @include respond(phone) {
      gap: 1.2rem;
      justify-content: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      background-color: $color-grey-darkest;
      display: inline-block;
      transition: all 0.3s ease;
    }

    &:hover {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.3);
      transform: scale(1.3) rotate(5deg);
    }
  }

  &__copy-right {
    width: 38.1%;
    padding-top: 2rem;
    border-top: 1px solid $color-grey-dark-2;

    @include respond(tab-portrait) {
      text-align: center;
      width: 100%;
      padding-top: 1.6rem;
    }

    @include respond(phone) {
      text-align: center;
      width: 100%;
      padding-top: 1.4rem;
    }
  }

  &__grid {
    @include respond(tab-portrait) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 3.4rem;
    }

    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}
