// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.center-text {
  text-align: center;
}

.mt-huge {
  margin-top: 10rem;

  @include respond(tab-landSkape) {
    margin-top: 8rem;
  }
  @include respond(tab-portrait) {
    margin-top: 6.4rem;
  }

  @include respond(phone) {
    margin-top: 5.2rem;
  }
}

.mb-small {
  margin-bottom: 1.6rem;

  @include respond(tab-portrait) {
    margin-bottom: 1.4rem;
  }

  @include respond(phone) {
    margin-bottom: 1.4rem;
  }
}
.mb-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-portrait) {
    margin-bottom: 3.2rem !important;
  }

  @include respond(phone) {
    margin-bottom: 3rem !important;
  }
}
.mb-large {
  margin-bottom: 8rem;

  @include respond(tab-landSkape) {
    margin-bottom: 7rem;
  }
  @include respond(tab-portrait) {
    margin-bottom: 5.4rem;
  }

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.d-g {
  display: grid;
}

.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(2, calc(50% - 3rem));

  @include respond(tab-portrait) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
.g-col-3 {
  grid-template-columns: repeat(3, 1fr);

  @include respond(tab-portrait) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.g-col-4 {
  grid-template-columns: repeat(4, 1fr);

  @include respond(tab-portrait) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    // for feature section
    padding: 0 2rem;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    // for feature section
    padding: 0 2rem;
  }
}

.gap-large {
  gap: 6rem;

  @include respond(tab-landSkape) {
    gap: 3rem;
  }
  @include respond(tab-portrait) {
    gap: 4.4rem;
  }

  @include respond(phone) {
    gap: 3.6rem;
  }
}
.gap-huge {
  gap: 8rem;

  @include respond(tab-landSkape) {
    gap: 7.2rem;
  }
  @include respond(tab-portrait) {
    gap: 6.4rem;
  }

  @include respond(phone) {
    gap: 5.2rem;
  }
}

.d-f {
  display: flex;
}
.d-f-center-h {
  justify-content: center;
}
.d-f-center-v {
  align-items: center;
}

.d-f-center-h {
  justify-content: space-between;

  @include respond(tab-landSkape) {
    justify-content: center;
    gap: 8rem;
  }
}

.d-f-v {
  flex-direction: column;
}

.row {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-landSkape) {
    padding: 0 3rem;
  }
  @include respond(tab-portrait) {
    max-width: 60rem;
    padding: 0 3rem;
  }
  @include respond(phone) {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
