// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.center-text {
  text-align: center;
}

.mt-huge {
  margin-top: 10rem;
}

.mb-small {
  margin-bottom: 1.6rem;
}
.mb-medium {
  margin-bottom: 4rem;
}
.mb-large {
  margin-bottom: 8rem;
}

.d-g {
  display: grid;
}

.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(2, calc(50% - 3rem));
}
.g-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.g-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gap-large {
  gap: 6rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
