// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.center-text {
  text-align: center;
}

.mb-small {
  margin-bottom: 1.6rem;
}
.mb-medium {
  margin-bottom: 4rem;
}
.mb-large {
  margin-bottom: 8rem;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(2, calc(50% - 3rem));
}

.gap-large {
  gap: 6rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
